<aside>
    <a href="/">Home</a>
    <a href="/hardware_emulation">Hardware Emulation</a>
    <a href="/virtual_machine">Virtual Machine</a>
    <a href="/emulator_list">Emulator List</a>
</aside>