<div class='d-flex' id='user'>
    <div>
        <img src="<%= image %>" alt="User Avatar" width='90px' id="user_avatar">
    </div>
    <div class="user_info">
        <span id="user_name"><%= name %></span>
        <span id="user_email"><%= email  %> </span>
    </div>
</div>