<!DOCTYPE html>
<html>
<%- include('partials/head.ejs') %>
	<body>
		<header class='d-flex opposite'>
			<h1>List of Emulators</h1>
			<%- include('partials/user.ejs') %> 
		</header>

		<main>
			<%- include('partials/nav.ejs') %>
			<hr>

			<section>
				<div class="grid-container">

					<div class="card" style="width: 18rem;">
						<img src="images/dolphin_logo.svg" class="card-img-top" alt="Dolphin Emulator Logo">

						<div class="card-body">
							<h5 class="card-title">Dolphin Emulator</h5>
							<p class="card-text">Dolphin is an emulator for two recent Nintendo video game consoles: the
								GameCube and the Wii. </p>
							<a href="https://dolphin-emu.org/" class="btn btn-primary" target="_blank">Visit Site</a>
						</div>
					</div>

					<div class="card" style="width: 18rem;">
						<img src="images/pcsx2_logo.png" class="card-img-top" alt="PCSX2 Emulator Logo">
						<div class="card-body">
							<h5 class="card-title">PCSX2 Emulator</h5>
							<p class="card-text">PCSX2 is a Playstation 2 'emulator', a free program that tries to
								replicate the Playstation 2 console to enable you to play PS2 games on your PC.</p>
							<a href="https://pcsx2.net/" class="btn btn-primary" target="_blank">Visit Site</a>
						</div>
					</div>

					<div class="card" style="width: 18rem;">
						<img src="images/yuzu_emulator_logo.svg" class="card-img-top" alt="Yuzu Emulator Logo">
						<div class="card-body">
							<h5 class="card-title">Yuzu Emulator</h5>
							<p class="card-text">yuzu is an experimental open-source emulator for the Nintendo Switch
								from the creators of Citra.</p>
							<a href="https://yuzu-emu.org/" class="btn btn-primary" target="_blank">Visit Site</a>
						</div>
					</div>

				</div>
			</section>
		</main>
		<hr>
		<footer>
			<p>
				CST 336: Internet Programming <br>
				<span id="disclaimer">Disclaimer:</span> The information on this webpage is not accurate. <br>
				It is used for academic purposes only.
			</p>
			<figure>
				<img width="150px" src="images/csumb_logo.png" alt="CSUMB Logo">
			</figure>
		</footer>
	</body>

</html>